<footer>
  <div class="footer">
    <div class="footer-content">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', class: 'logo-footer' %>
      <% end %>
      <p>Copyright © Potepan Share 2023 All rights reserved</p>
    </div>
  </div>
</footer>