  <header>
    <nav>
      <div class="header-content">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: 'logo-top' %>
        <% end %>
        <ul class="nav">
          <li class="nav-item">
            <%= link_to "ログイン", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", root_path, class: "btn btn-header nav-link"  %>
          </li>
        </ul>
      </div>
    </nav>
  </header>

